<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../NationalParksGallery/styles.css"/>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../NationalParksGallery/library/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="../NationalParksGallery/library/slick/slick-theme.css"/>
  <script type="text/javascript" src="../NationalParksGallery/library/slick/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../NationalParksGallery/library/magnific-popup.css"/>
  <script type="text/javascript" src="../NationalParksGallery/library/jquery.magnific-popup.js"></script>
  <link rel="stylesheet" type="text/css" href="../NationalParksGallery/library/leaflet/leaflet.css"/>
  <script type="text/javascript" src="../NationalParksGallery/library/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="../NationalParksGallery/library/easy-button.min.js"></script>
  <script src="https://kit.fontawesome.com/b53b88607b.js" crossorigin="anonymous"></script>
  <script src="../NationalParksGallery/national_park_markers.js"></script>
  <script src="NationalParksGallery/park_boundaries.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script type="text/javascript" src="../NationalParksGallery/library/jquery.lazy-master/jquery.lazy.min.js"></script>
</head>
