<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!--
    <div class="navbar-header">
      <a class="navbar-brand" href="#">James Kitchens</a>
    </div>
    -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://kitchensjn-develop.github.io/modern-resume-theme/">ABOUT</a></li> <!-- class="active"-->
      <li><a href="#">PROJECTS</a></li>
      <li><a href="htpps://kitchensjn-develop.github.io/modern-resume-theme/national-parks-gallery">NATIONAL PARKS GALLERY</a></li>
      <li><a href=#">CONTACT INFO</a></li>
    </ul>
  </div>
</nav>
