<style>
  .nav .icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  @media screen and (max-width: 768px) {
    .nav a.horizontal-page {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      /*position: absolute;*/
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .vertical {
    display: none;
    padding: 0px;
  }
  
  .vertical a {
    color: #BBBBBB;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }

  .vertical a:hover {
    background-color: #fff;
    color: #333;
  }
</style>  

<nav class="navbar navbar-inverse" style="margin: 0px; border-radius: 0px;">
  <div class="container-fluid">
    <!--
    <div class="navbar-header">
      <a class="navbar-brand" href="#">James Kitchens</a>
    </div>
    -->
    <ul class="nav navbar-nav navbar-left">
      <li><a class="horizontal-page" href="https://kitchensjn-develop.github.io/modern-resume-theme/">ABOUT</a></li> <!-- class="active"-->
      <li><a class="horizontal-page" href="#">PROJECTS</a></li>
      <li><a class="horizontal-page" href="https://kitchensjn-develop.github.io/modern-resume-theme/national-parks-gallery">NATIONAL PARKS GALLERY</a></li>
      <li><a class="horizontal-page" href=#">CONTACT</a></li>
      <li><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a></li>
    </ul>
    <div class="vertical" id="vertical">
      <a class="vertical-page" href="https://kitchensjn-develop.github.io/modern-resume-theme/">ABOUT</a>
      <a class="vertical-page" href="#">PROJECTS</a>
      <a class="vertical-page" href="https://kitchensjn-develop.github.io/modern-resume-theme/national-parks-gallery">NATIONAL PARKS GALLERY</a>
      <a class="vertical-page" href=#">CONTACT</a>
    </div>
  </div>
</nav>

<script>
  function myFunction() {
    var x = document.getElementById("vertical");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
