<style>
  .preload {
    background-color: #AAD3DF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .van {
    animation: van 1s linear infinite alternate;
  }
  
  @keyframes van {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(20deg);
    }
  }
  
</style>
<div class="preload">
  <img class="van" src="{{ '/assets/national-parks-gallery-loading-symbol.png' | relative_url }}" alt="NPG_loading" height=50%>
</div>