<style>
  .preload {
    background-color: #AAD3DF;
    position: absolute;
    z-index: 10000;
    top: 53px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    overflow: hidden;
  }
  
  .van {
    animation: van 1s linear infinite alternate;
  }
  
  @keyframes van {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(20deg);
    }
  }
  
  .preload-finish {
    opacity: 0;
    pointer-events: none;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #BBBBBB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    color: #fff;
  }

  .inactiveLink {
    pointer-events: none;
    cursor: default;
  }
  
  /*  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  */

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive a:not(.icon):hover {
      background-color: #fff;
      color: #333;
    }
    .topnav.responsive {
      border-bottom: 3px solid #333;
    }
  }
</style>

<div class="topnav" id="myTopnav" style="top:0px;">
  <a class="inactiveLink" href="/" style="padding:7px 16px;">
    <img src="{{ '/assets/JK_logo.png' | relative_url }}" alt="JK_logo" style="height:39px;">
  </a>
  <!--<a href="" class="inactiveLink" style="color: #fff; font-weight: bold;">James Kitchens</a>-->
  <a class="inactiveLink" href="/">About Me</a>
  <!--<a href="#projects">Projects</a>-->
  <a class="inactiveLink" href="national-parks-gallery">National Parks Gallery</a>
  <!--<a href="#contact">Contact</a>-->
  <a class="inactiveLink" href="javascript:void(0);" class="icon" onclick="hamburger()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
  function hamburger() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
    var content = document.getElementById("van");
    if (content) {
      if (content.style.top === "53px") {
        content.style.top = "162px";
      } else {
        content.style.top = "53px";
      }
    }
  }
  window.addEventListener('resize', function(event){
    var x = document.getElementById("myTopnav");
    var content = document.getElementById("van");
    if (content) {
      if (window.innerWidth > 768) {
        content.style.top = "53px";
      } else if (x.className === "topnav") {
        content.style.top = "53px";  
      } else {
        content.style.top = "162px";
      }
    };
  });
</script>

<div class="preload">
  <img class="van" src="{{ '/assets/national-parks-gallery-loading-symbol.png' | relative_url }}" alt="NPG_loading" width=100%>
</div>

<script>
  window.addEventListener('load', () => {
    const preload = document.querySelector(".preload");
    preload.classList.add('preload-finish');
  });
</script>