<style>
  .preload {
    background-color: #AAD3DF;
    position: absolute;
    z-index: 10000;
    top: 53px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    overflow: hidden;
  }
  
  .van {
    animation: van 1s linear infinite alternate;
  }
  
  @keyframes van {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(20deg);
    }
  }
  
  .preload-finish {
    opacity: 0;
    pointer-events: none;
  }
</style>


<div class="preload">
  <img class="van" src="{{ '/assets/national-parks-gallery-loading-symbol.png' | relative_url }}" alt="NPG_loading" width=100%>
</div>

<script>
  var something = (function() {
    var executed = false;
    return function() {
      if (!executed) {
        executed = true;
        const navbar = document.querySelector(".icon");
        navbar.classList.add("inactiveLink");
      }
    };
  })();
  
  something();
  
  window.addEventListener('load', () => {
    const preload = document.querySelector(".preload");
    preload.classList.add("preload-finish");
    const navbar = document.querySelector(".icon");
    navbar.classList.remove("inactiveLink");
  });
</script>