<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}
{%- include head_NPG.html -%}
<head>
<title>James Kitchens | National Parks Gallery</title>
</head>
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  
    <div style="display: flex; flex-flow: column; height: 100%;">
    
      {%- include navbar.html -%}

      <div id="galleryContent" style="flex-grow: 1;">     <!--position: absolute; top: 50px; bottom: 0; width: 100%; z-index: -1;">-->

        {%- include leafletMap.html -%}

        {%- include gallery.html -%}

      </div>
  
    </div>
    
</body>

</html>
