<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}
{%- include head_NPG.html -%}
<head>
<title>James Kitchens | National Parks Gallery</title>
</head>
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  
    {%- include navbar.html -%}
  
    <div class="galleryContent" style="position: absolute; top: 0px; bottom: 0;">
    
      {%- include leafletMap.html -%}

      {%- include gallery.html -%}
      
    </div>
    
</body>

</html>
