<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}
{%- include head_NPG.html -%}
<head>
<title>James Kitchens | National Parks Gallery</title>
</head>
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  <div id="outer">
  
    {%- include navbar.html -%}

    <div id="inner">
    
      {%- include leafletMap.html -%}

      {%- include gallery.html -%}
    
    </div>

  </div>  
    
</body>

</html>
