<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}
<head>
<title>James Kitchens | Projects</title>
</head>
  
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  
  <!--{%- include navbar.html -%}-->
  
  <script>
    var activePage = document.getElementById("AboutMe");
    console.log(activePage);
    activePage.style.color = "#ffffff";
    activePage.classList.add("inactiveLink");
  </script>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include project-cards.html -%}

    </div>
  </main>

</body>

</html>