<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}
<head>
<title>James Kitchens | Projects</title>
</head>
  
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  
  {%- include navbar.html -%}
  
  <script>
    var activePage = document.getElementById("Projects");
    console.log(activePage);
    activePage.style.color = "#ffffff";
    activePage.classList.add("inactiveLink");
  </script>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include project-cards.html -%}
      
      {%- include about.html -%}
      
      {%- include publications.html -%}

      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}

      {%- if site.data.experience.size > 0 -%}
        {%- include experience.html -%}
      {%- endif -%}

      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}
      
      {%- include awards.html -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>

</body>

</html>